<div class="table-responsive table-striped">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Games</th>
        <th scope="col">W</th>
        <th scope="col">L</th>
        <th scope="col">D</th>
        <th scope="col">Goal Diference</th>
        <th scope="col">Points</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countryStandings; let i = index" [routerLink]="'/game-results/'+ country!.team!.id">
        <th scope="row">{{ i }}</th>
        <th><img [src]="country!.team!.logo" [alt]="country!.team!.name + ' logo'" width="20" height="20"/></th>
        <td>{{country!.team!.name}}</td>
        <td>{{country!.all!.played}}</td>
        <td>{{country!.all!.win}}</td>
        <td>{{country!.all!.lose}}</td>
        <td>{{country!.all!.draw}}</td>
        <td>{{country!.goalsDiff}}</td>
        <td>{{country!.points}}</td>
      </tr>
    </tbody>
  </table>
</div>