<div class="navbar row justify-content-center">
  <nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link" routerLink="/country/3" routerLinkActive="active" ariaCurrentWhenActive="page">England</a>
    <a class="nav-item nav-link" routerLink="/country/343" routerLinkActive="active" ariaCurrentWhenActive="page">Spain</a>
    <a class="nav-item nav-link" href="#">Germany</a>
    <a class="nav-item nav-link" href="#">France</a>
    <a class="nav-item nav-link" href="#">Italy</a>
  </nav>
</div>