<div class="container">
  <header>
    <h1 class="text-center">FOOTBALL UPDATES</h1>
    <app-navbar></app-navbar>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer class="footer">
    <div class="text-center p-3" style="background-color: hsl(216, 25%, 90%);">
      © <span class="text-muted">Thank You for using the Football App.</span
      ><br />
      2023 Copyright:
      <a class="" href="https://mdbootstrap.com/"> <strong>Miranda</strong></a>
    </div>
  </footer>
</div>
